* {
  color: white;
  padding: 0;
  margin: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  height: 50px;
  padding: 20px;
}
.logo {
  position: absolute;
  right: 50%;
  color: white;
}

.menu li {
  display: inline-block;
  padding-left: 60px;
}
.right li{
  display: inline-block;
  padding-right: 95px;
  padding-top: 7%;
}
.icon{
   height: 20px;
  width: 50px;
  filter: brightness(0) invert(1);
}
.signin{
  position: relative;
  left: 85%;
  bottom: 30px;
}

